name: RoundReports Build
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:
env:
  REFERENCES_URL: https://exmod-team.github.io/SL-References/Dev.zip
  REFERENCES_PATH: ${{ github.workspace }}/References
jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3.3.0

      - name: Restore Packages
        run: nuget restore

      - name: Get Build References
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri ${{ env.REFERENCES_URL }} -OutFile ${{ github.workspace }}/Dev.zip
          Expand-Archive -Path Dev.zip -DestinationPath ${{ env.REFERENCES_PATH }}

      - name: Setup MSBuild.exe
        uses: microsoft/Setup-MSBuild@v2
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

      - name: Build
        run: | 
          msbuild RoundReports\RoundReports.csproj -t:rebuild -property:Configuration=Release -property:Platform=x64 -property:ReferencePath="${{ env.REFERENCES_PATH }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Round Reports
          path: "RoundReports/bin/Release/RoundReports.dll"
